:root {
    --primary-green: #10b981;
    --primary-blue: #059669;
    --dark-blue: #006445;
    --gray-100: #f3f4f6;
    --gray-500: #6b7280;
    --white: #ffffff;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #e0f2fe 0%, #dcfce7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background: var(--white);
    width: 100%;
    max-width: 420px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.logo-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

h2 {
    color: var(--dark-blue);
    font-weight: 800;
}

h2 span {
    color: var(--primary-blue);
}

.subtitle {
    color: var(--gray-500);
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border-radius: 10px;
    border: 2px solid var(--gray-100);
    background: var(--gray-100);
}

.input-wrapper input:focus {
    border-color: var(--primary-green);
    background: var(--white);
    outline: none;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, var(--primary-green), var(--primary-blue));
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.name-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.switch-form {
    margin-top: 20px;
    font-size: 0.9rem;
}

.switch-form a {
    color: var(--primary-blue);
    font-weight: bold;
    text-decoration: none;
}

.password-rules {
    margin-top: 10px;
    font-size: 13px;
    display: none;
}

.password-rules p {
    margin: 3px 0;
    color: #dc2626;
    /* vermelho */
    transition: 0.3s;
}

/* quando válido */
.password-rules p.valid {
    color: #16a34a;
    /* verde */
}