/* Botão adicionar lista */
.btn-add-lista {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #0f172a;
    /* slate-900 */
}

/* ícone */
.btn-add-icon {
    width: 100%;
    font-size: 1.6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

/* texto */
.btn-add-text {
    position: absolute;
    right: 0;
    width: 0;
    opacity: 0;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    transition: all .3s ease;
}

/* hover */
.btn-add-lista:hover {
    width: 140px;
}

.btn-add-lista:hover .btn-add-icon {
    width: 30%;
    padding-left: 14px;
}

.btn-add-lista:hover .btn-add-text {
    opacity: 1;
    width: 70%;
    padding-right: 14px;
}

/* clique */
.btn-add-lista:active {
    transform: scale(0.95);
}